.App {
  text-align: center;
}

.login-form {
  margin: auto;
  width: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.logo {
  width: 100px; /* ou toute autre taille */
  margin-bottom: 20px;
}


.form-actions button {
  cursor: pointer;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.form-actions button:hover {
  background-color: #0056b3;
}
